server {
	listen 80;
	listen [::]:80;

	server_name {{ server_name }};

	#root /var/www/example.com;
	#index index.html;

	location /static/ {
		alias /home/vagrant/project/staticfiles/;
	}

	location / {
		proxy_pass http://upstream_app;
		proxy_set_header Host $host;
	}
}
